body {
    background-color: rgb(255, 135, 135);
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    margin: 0;
  }
  
  header {
    background-color: rgb(223, 41, 53);
    font-family: "Slab serif", 'Courier New', Courier, monospace;
    color: aliceblue;
    padding: 2rem;
    grid-column: 1 / 4;
    text-align: center;
    border-radius: 10px;
  }
  
  .left-sidebar {
    background-color: rgb(255, 135, 135);
    grid-column: 1 / 2;
    border-radius: 10px;
    font-family: "Slab serif", 'Courier New', Courier, monospace;
  }
  
  main {
    background-color: rgb(242, 112, 112);
    grid-column: 2 / 3;
    border: 0;
    border-radius: 10px;
    font-family: "Slab serif", 'Courier New', Courier, monospace;
  }
  .estilo_fibo { 
    font-family: "Slab serif", 'Courier New', Courier, monospace;
    font-size: 2.5vw;
    text-align: center;
    color: #61c0c8;
    text-shadow: 1px 0px 0px #F13939, 0px 1px 0px #F13939, 2px 1px 0px #F13939, 1px 2px 0px #F13939, 3px 2px 0px #F13939, 2px 3px 0px #F13939, 4px 3px 0px #F13939, 3px 4px 0px #F13939, 5px 4px 0px #F13939, 4px 5px 0px #F13939, 6px 5px 0px #F13939, 5px 6px 0px #F13939, 7px 6px 0px #F13939, 6px 7px 0px #F13939, 8px 7px 0px #000000, 7px 8px 0px #000000, 9px 8px 0px #000000, 8px 9px 0px #000000, 10px 9px 0px #000000, 9px 10px 0px #000000, 11px 10px 0px #000000, 10px 11px 0px #000000;
  }

  .right-sidebar {
    background-color: rgb(255, 135, 135);
    grid-column: 3 / 4;
    border-radius: 10px;
    font-family: "Slab serif", 'Courier New', Courier, monospace;
  }
  
  body {
    font-family: system-ui, sans-serif;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }

  input {
    border: 0;
  }
  button{
    border: 0;
    font-family: "Slab serif", 'Courier New', Courier, monospace;
  }